@font-face {
    font-family: wsic-font;
    src: url(../fonts/wsic-font.ttf);
}
@font-face {
    font-family: clock-font;
    src: url(../fonts/clock-font.ttf);
}
@font-face {
	font-family: heading-font;
	src: url(../fonts/Audiowide-Regular.ttf);
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: wsic-font, Roboto;
}
h1 {
	text-align: center;
	font-size: 5.5vmin;
	color: #0e0f0f;
	letter-spacing: 1%;
	font-weight: 300;
}
h2 {
	text-align: center;
	font-size: 4vmin;
	color: #0e0f0f;
	letter-spacing: 1%;
	font-weight: 400;
}
.content-div {
	min-height: 70vh;
	height: auto;
	width: 100%;
	background-color: #f5f5f5;
	z-index: 1;
	position: relative;
	margin-top: 0px;
	border-bottom: 2px solid #009e54;
	border-top: 2px solid #009e54;
}
.map-area{
	position: relative;
    padding-bottom: 60vh;
    height: 0;
    overflow: hidden;
}
.map-area iframe{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.content-div-nothing {
	height: 50vh;
	background-color: #f5f5f5;
	z-index: 1;
	position: relative;
	margin-top: 0px;
	border-bottom: 0px solid #009e54;
}
.nothing {
	background: url(../images/logo-large.jpg) ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 650px;
	background-color: #f5f5f5;
	height: 47vh;
	border: 20px solid #f5f5f5;
	border-top: 80px solid #f5f5f5;
}
.nothing2 {
	background-position: center;
	background-size: contain;
	background-color: #f5f5f5;
	height: 49vh;
	border: 20px solid #f5f5f5;
	border-top: 80px solid #f5f5f5;
}
.ayah-div {
	position:absolute;
    width:100%;
    height:auto;
	margin-top:-250px;
	text-align:center;
	z-index:10;
	background-color: #FFFFFF;
	opacity: 0.80;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    padding: 10px 5px;
}
.ayah-text {
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    color: #009e54;
}
.section-heading{
	color: #009e54;
}
.parallax-inner {
	padding-top: 18%;
	padding-bottom: 18%;
}
.nothing-inner h2{
	margin-top: 0;
	text-align: center;
	font-size: 70px;
	color: #009e54;
	letter-spacing: 1%;
	font-weight: 100;
}
.navbar-header {
	height: 65px;
}
.navbar-toggle, .navbar-brand, .navbar-default, .navbar-fixed-top, .navbar-header, .container-fluid {
	color: #f5f5f5 !important;
	background-color: #B96B23 !important;
}
.navbar-brand{
	font-weight: 400 !important;
	font-size: 30px; /*3.5vw;*/
	margin-top: 0px;
	color: #f5f5f5 !important;
	padding-top: 23px !important;
}
.header-text h2{
	margin-top: 0;
	text-align: center;
	font-size: 38px;
	color: #f5f5f5;
	letter-spacing: 1%;
	font-weight: 100;
	margin-top: 15px;
}
